
 

.navbar-nav {
    direction: ltr;
}

.nav-link:hover {
    color: rgb(141, 139, 139) !important;
}

.navbar {
    direction: ltr !important;
}

    .navbar navbar-expand-lg navbar-dark {
        position: fixed;
        top: 0px;
        background-color: black;
        width: 100%;
    }


body {
    line-height: 2.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: white;
    background-color: black !important;
    font-size: 25px !important;
    text-align: right;
    background-size: cover;
    direction: ltr;
    text-align: center;
}



.col-3 {
    text-align: right;
    /* padding: 0px 80px 0px 0px; */
}

#logo {
    width: 200px;
}

#map {
    width: 350px;
}



.navbar, .navbar-expand-lg, .navbar-dark {
    margin: 0px auto;
    /* i add yesterday dont forget to change the top pic */
    /* z-index: 10000;
       position: fixed;
       top: 0;
       width: 100%;
        */
    /* font-size: 25px;
       padding: 0.5rem 3rem 1px;*/
    /* padding: 0.5rem 3rem 1rem; */
}




.conrainerNAV {
    direction: ltr;
    background-color: black !important;
    color: white !important;
    font-size: 25px !important;
    text-align: right;
    background-size: cover;
}
