@model IEnumerable<FusionWeb.Models.Dish>

@{
    ViewData["Title"] = "Cart";
}

<container class="tablecart">

    <h1>shopping cart</h1>
    <table class="table table-bordered">


        <thead>
            <tr>
                <th scope="col">for removal</th>
                <th scope="col">Image</th>
                <th scope="col">Itam</th>
                <th scope="col">Price</th>
                <th scope="col">sum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-light">
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-bag-x" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
                                <path fill-rule="evenodd"
                                      d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </th>
                    <td><img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img " alt="..." height="80px"></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td></td>

                </tr>
                <tr>
                </tr>

            }
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</container>



@section Css{
    <link rel="stylesheet" herf="~/css/Delivey.css" />
    <link rel="stylesheet" herf="~/css/Cart.css" />
}