body {
}

.row {
    direction: rtl !important;
    margin-top: 6rem;
    /* margin-left: 0rem; */
    margin-right: 8rem;
    
}
.table {
    color: white !important;
}
/*.title {
    font-size: 34px !important;
    top: 180px;
    left: 35rem;
    position: absolute;
}*/

.urlImage {
    font-size: 18px !important;
    margin-top: 1rem;
}
.title {
    font-size: 34px !important;
    /*top: 180px !important;*/
    /*left: 39rem !important;*/
    /*position: absolute !important;*/
    text-align: center;
    margin-top: 3rem;
}