* {
    text-align: right;
    color: white !important;
    background-color: black;
    /* font-size: 18px; */
    /* font-weight: bold; */
    direction: rtl;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
body{
    font-size:20px !important;
}

.navbar, .col-sm-12, .col-md-12, .col-lg-12 {
    background-color: black !important;
    /* margin: 10px 10px 10px 10px; */
    padding-left: center;
}

.navbar-nav {
   // margin: 0 auto;
    margin-top: 5px;
    margin-right: 15rem;
    font-size: 24px;
}

.nav-link:hover {
    color: rgb(141, 139, 139) !important;
}

.col-sm-5, .col-md-5, .col-lg-5 {
    /* border: solid 0.8px gray; */
    margin: 29px 118px 4px -78px;
    height: 3rem;
}

.fooname {
    font-weight: 600;
    font-size: 22px;
    margin-top:1rem;
}

.nav-link {
    color: white !important;
    font-size: 24px;
}


#tittel {
    font-size: 50px;
    text-align: center !important;
    color: white;
    background-color: black;
}


.bor {
    /*border: solid 2px gray;*/
    height:37rem;
   border: none;
}


.row{
    height:35rem;
}
.American{
    height:32rem;
}
.Italian{
    height:32rem;
}
.Asian{
    height:32em;
}
.Israly{
    height:32rem;
}
.Drinks{
    height:25rem;
}

.navbar-collapse {
    margin-top: 0px;
}

hr{
    color:white;
    /*border:1px !important;*/
    border: 9;
}

.container_img {
    position: relative;
    text-align: center;
    color: white;
}


.centered {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none !important;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 5.5);
    font-weight: 700;
    font-size: 80px;
}
/* .container_img{
      height: 260px; 
      margin-top: 40px; 

    } */



.top_img {
    right: 0rem;
    left: 0rem;
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
}


.page-header-bg-image {
   
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  
}

