@model FusionWeb.Models.Order

@{
    ViewData["Title"] = "Delete";
}



<h3>?אתה בטוח רוצה למחוק הזמנה זו</h3>
<div>


    <dl class="row">
        <dt class="col-sm-2">
            מנות
        </dt>
        @*<dd class="col-sm-8">

            @foreach (var item in Model.Dishes)
            {

            <ul>
                @foreach (var order in item)
                {
                    <li>@order.Dish.Name</li>
                    @Html.DisplayFor(model => model.Dishes.Name)
                }

            </ul>

            }
        </dd>*@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
      
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
 


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>
