@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<html>

<head>
    <title>תפריט ראשי</title>
</head>

<body>
    <div class="container">
        <div class="video">

            <div class="video">

                <video loop autoplay muted controls id="vid">
                    <source type="video/mp4" src="~/imag/Fusion video.mp4" /></source>
                    <source type="video/ogg" src="~/imag/Fusion video.mp4" /></source>
                </video>
            </div>

        </div>
        <div id="smallAbout">
            ברוכים הבאים למסעדת פיוז'ן<br>
            פה תוכלו להנות מאוכל מעולה בתוספת נוף מרהיב<br>
            אווירה נעימה המשלבת תחושה ביתית עם שירות מקצועי, <br>
            תפריט עשיר המשלב ארוחות מכל העולם<br>
            ומטבחים מגוונים ביניהם מטבח איטלקי, אסייתי, אמריקאי וישראלי.<br><br><br>
        </div>



        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <!--  <h3 class="heading-tertiary u-margin-bottom-small">מטבח אמריקאי</h3>-->
                    <img src="https://cdn.pixabay.com/photo/2017/09/18/16/53/burger-2762371__480.jpg" class="im">
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <!--   <h3 class="heading-tertiary u-margin-bottom-small">מטבח איטלקי</h3>-->
                    <img src="https://cdn.pixabay.com/photo/2016/03/17/22/56/pasta-1264056__480.jpg" class="im">
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <!--     <h3 class="heading-tertiary u-margin-bottom-small">;מטבח אסיאתי</h3>-->
                    <img src="https://cdn.pixabay.com/photo/2017/06/29/19/57/sushi-2455981__480.jpg" class="im">
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <!--  <h3 class="heading-tertiary u-margin-bottom-small">מטבח ישראלי</h3>-->
                    <img src="https://t4.ftcdn.net/jpg/02/20/86/65/240_F_220866565_gWUNaLosDK5aVKS05VSNcyvzLapqjdCG.jpg" class="im">
                </div>
            </div>
        </div>



    </div>


</body>

</html>

@section Css{
    <link rel="stylesheet" href="~/css/main/main.css" />

}
