@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>
    <link rel="stylesheet" href="styleproj.css">
    <link rel="stylesheet" href="main.css">


    <title>תפריט ראשי</title>
</head>

<body>
    <div class="container">
        <div class="video">
            <!-- <video width="400" controls>
                <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/mp4">
                <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/ogg">
                Your browser does not support HTML video.
              </video>

              <p>
              </div>
              <a href="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" target="_blank"></a>
              </p> -->
            <!-- <video width="320" height="240" controls autoplay>
              <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/mp4">
              <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/ogg">

            </video> -->
            <!-- <video autoplay muted controls id="vid">
              <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/mp4">
              <source src="C:\Users\Niza\Desktop\uhstu\Fusion video.mp4" type="video/ogg">
              </video> -->

            <div class="video">

                <video loop autoplay muted controls id="vid">
                    <source type="video/mp4" src="videoo\Fusion video.mp4"></source>
                    <source type="video/ogg" src="videoo\Fusion video.mp4"></source>
                </video>
            </div>

        </div>
        <div id="smallAbout">
            ברוכים הבאים למסעדת פיוז'ן<br>
            פה תוכלו להנות מאוכל מעולה בתוספת נוף מרהיב<br>
            אווירה נעימה המשלבת תחושה ביתית עם שירות מקצועי, <br>
            תפריט עשיר המשלב ארוחות מכל העולם<br>
            ומטבחים מגוונים ביניהם מטבח איטלקי, אסייתי, אמריקאי וישראלי.<br><br><br>
        </div>
    </div>
    <div class="row">

        <div class="col-5">
            <h1>בחר מטבח</h1>
            <a href="https://www.qries.com/" type="button" class="btn"> <img src="https://t4.ftcdn.net/jpg/02/20/86/65/240_F_220866565_gWUNaLosDK5aVKS05VSNcyvzLapqjdCG.jpg" class="im"> </a>
            <a href="https://www.qries.com/" type="button" class="btn"> <img src="https://cdn.pixabay.com/photo/2016/03/17/22/56/pasta-1264056__480.jpg" class="im"> </a>
            <a href="https://www.qries.com/" type="button" class="btn"> <img src="https://cdn.pixabay.com/photo/2017/06/29/19/57/sushi-2455981__480.jpg" class="im"> </a>
            <a href="https://www.qries.com/" type="button" class="btn"> <img src="https://chubbys.co.il/wp-content/uploads/2017/06/FIL_6069370_636227735908884663.jpg" class="im"> </a>
        </div>
    </div>

    </div>


</body>

</html>

@section Css{
    <link rel="stylesheet" href="~/css/main/main.css" />

}
