@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>

    <!-- <link rel="stylesheet" href="C:\לימודים\פיתוח אפליקציות אינטרנטיות\שיעור 1 - HTML\Project\styleproj.css"> -->
    <!-- <link rel="stylesheet" href="styleproj.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="Gallery.css">
    <link rel="stylesheet" href="navbar.css">


</head>


<body>

    <div class="container">

        <div class="row">
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 right">
                <img src=https://cdn.pixabay.com/photo/2015/11/19/10/38/food-1050813__340.jpg>
            </div> -->
            <div class="col-sm-6 col-md-3 col-lg-3 right">
                <img src="https://images.pexels.com/photos/4552175/pexels-photo-4552175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 right">
                <img src="https://cdn.pixabay.com/photo/2017/03/10/13/57/cooking-2132874__480.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 right">
                <img src="https://www.landwercafe.co.il/wp-content/uploads/2020/01/pizza1.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 right">
                <img src="https://t3.ftcdn.net/jpg/02/88/37/00/240_F_288370078_5HPI1BQiNpORFFLqBC8a6FUStSkCOUDK.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 right">
                <img src="https://www.landwercafe.co.il/wp-content/uploads/2020/01/%D7%A8%D7%91%D7%99%D7%95%D7%9C%D7%99.jpg">
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 right">

                <img src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590__480.jpg">
            </div>





            <!-- <img src=https://t4.ftcdn.net/jpg/01/35/23/71/240_F_135237184_vZnNVRuaHQZclXjxJ7ftEa3IyerhDF2y.jpg>
            <img src=https://cdn.pixabay.com/photo/2016/01/22/02/13/meat-1155132_1280.jpg> -->

            <div class="col-sm-6 col-md-2 col-lg-3">
                <img src="https://t4.ftcdn.net/jpg/01/70/78/05/240_F_170780571_ewh7OWgwgWhMZteRoDKM7ksa0vAeZ1E4.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://images.pexels.com/photos/3147493/pexels-photo-3147493.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2015/12/08/00/58/italian-1082230__340.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://images.pexels.com/photos/1422384/pexels-photo-1422384.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://t4.ftcdn.net/jpg/02/43/55/75/240_F_243557563_nEWSRbe5LdQqu96KM1oton11xrNiAv7n.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2017/11/10/15/04/steak-2936531__340.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2017/10/16/09/01/hamburger-2856548_1280.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2015/03/26/10/28/restaurant-691397__340.jpg">
            </div>
            <div class="col-sm-6 col-md-2 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2017/09/18/16/59/burger-2762431__340.jpg">

            </div>


            <div class="col-sm-6 col-md-3 col-lg-3">
                <img src="https://t4.ftcdn.net/jpg/02/20/86/65/240_F_220866565_gWUNaLosDK5aVKS05VSNcyvzLapqjdCG.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src="https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src="https://images.pexels.com/photos/1435903/pexels-photo-1435903.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2015/09/02/12/35/bar-918541_1280.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src="https://images.pexels.com/photos/4552175/pexels-photo-4552175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src=https://cdn.pixabay.com/photo/2017/12/10/14/47/piza-3010062__480.jpg>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

                <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706__480.jpg">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://images.pexels.com/photos/3824389/pexels-photo-3824389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/11/10/15/04/steak-2936531__340.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2014/01/24/04/05/fried-chicken-250863__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/07/16/10/43/recipe-2508859__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2016/06/28/17/32/salmon-1485014__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2018/11/16/18/00/salmon-3819966__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/06/29/19/57/sushi-2455981__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2014/10/16/17/23/sushi-491425__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/04/04/03/20/food-2200139__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/06/04/03/42/sushi-2370273__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2015/03/23/10/27/sushi-685912__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/08/15/17/22/food-2644782__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2018/02/11/22/59/israel-3147041__480.jpg">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2019/10/02/15/36/kabab-4521237__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/03/27/13/54/bread-2178874__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2015/12/08/00/26/food-1081707__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2017/08/17/19/40/ukraine-2652561__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2014/04/05/11/19/celebration-315079__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2016/06/01/21/40/soup-1429793__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2020/06/08/16/49/pizza-5275191__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2015/05/31/12/58/spinach-791629__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2016/08/18/18/40/salad-1603608__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2016/10/31/18/23/salad-1786327__480.jpg">

            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">


                <img src="https://cdn.pixabay.com/photo/2016/04/19/15/54/tomatoes-1338938__480.jpg">

            </div>







        </div>

    </div>


    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</body>

</html>
@section Css{
    <link rel="stylesheet" href="~/css/Gallery.css" />

}