@model FusionWeb.Models.Contact
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
}

<div class="container_img">
    <div style="height: 260px; margin-top: 40px;">
        <div class="page-header-bg-image" style="background-image:
              url(https://nagisasushi.co.il/wp-content/uploads/2019/02/events.jpg);  ">
            <div class="centered">צור קשר</div>

        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="container">

        @if (ViewData["Contact"] != null)
        {

            //popup
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">פנייתך התקבלה</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ניצור איתך קשר בהקדם האפשרי<br />
                            תודה
                        </div>

                        <div class="modal-footer">
                            <form asp-controller="Home" asp-action="Index">
                                <input type="submit" value="סיום" class="btn btn-secondary"  />
                            </form>
                            @*<button type="button" class="btn btn-primary">בחזרה</button>*@
                        </div>
                        @*<div class="modal-footer">
                            <form asp-controller="Home" asp-action="Index">
                                <input type="submit" value="סיום" class="btn btn-secondary" data-bs-dismiss="modal" />

                            </form>
                        </div>*@
                    </div>
                </div>
            </div>

        }
        @if (ViewData["Contact"] == null)
        {
            <form asp-action="Create" onsubmit="foo(event)">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-50">
                    <label asp-for="InfoClient.Name" class="control-label"></label>
                    <input asp-for="InfoClient.Name" name="Name" id="name" class="form-control" placeholder="הזן/י שם מלא" type="text" />
                    <span asp-validation-for="InfoClient.Name" id="validName" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="InfoClient.Email" class="control-label"></label>
                    <input asp-for="InfoClient.Email" name="Email" class="form-control" placeholder="הזן/י אימייל" type="email" />
                    <span asp-validation-for="InfoClient.Email" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="InfoClient.Address" class="control-label"></label>
                    <input asp-for="InfoClient.Address" name="Address" class="form-control" placeholder="הזן/י כתובת" />
                    <span asp-validation-for="InfoClient.Address" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="InfoClient.City" class="control-label"></label>
                    <input asp-for="InfoClient.City" name="City" class="form-control" placeholder="הזן/י עיר" />
                    <span asp-validation-for="InfoClient.City" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="InfoClient.PhoneNumber" class="control-label"></label>
                    <input asp-for="InfoClient.PhoneNumber" name="PhoneNumber" id="phone" class="form-control" placeholder="הזן/י מס' טלפון" />
                    <span asp-validation-for="InfoClient.PhoneNumber" id="validPhone" class="text-danger"></span>
                </div>

                <div class="form-group w-50">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" placeholder="הזן/י סיבת הפניה" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <input type="submit" class="btn btn-primary" style="border-radius: .25rem;"
                           value="שלח" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                </div>


            </form>
         }
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</div>
@if (Context.Session.GetString("user") != null)
{
    <div>
        <a asp-action="Index">חזרה לרשימה</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@section Css{
    <link rel="stylesheet" href="~/css/Contact.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
}
<script>
    $(function () {
        $('#exampleModal').modal('show');
    });

    function foo(e) {
        var isValid = true;
        var f = true;
        var name = document.getElementById("name").value;
        var phone = document.getElementById("phone").value;

        if (name == "") {
            document.getElementById("validName").innerHTML = "שדה חובה*";
        }
        if (phone == "") {
            document.getElementById("validPhone").innerHTML = "שדה חובה*";
        }
    }
</script>
