@model FusionWeb.Models.Manager

@{
    ViewData["Title"] = "Create";
}



@*<div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">התחברות</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="אימייל" required autofocus>
                                <label for="inputEmail"></label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="סיסמא" required>
                                <label for="inputPassword"></label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">זכור אותי</label>
                            </div><br>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">התחבר</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="row">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="card-title text-center">התחברות</div>

                    <div class="form-group form-label-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" type="email" id="inputEmail" placeholder="אימייל" required autofocus />
                        <span asp-validation-for="UserName" class="text-danger" for="inputEmail"></span>
                    </div>


                    <div class="form-group form-label-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" id="inputPassword" placeholder="סיסמא" required />
                        <span asp-validation-for="Password" class="text-danger" for="inputPassword"></span>
                    </div>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">זכור אותי</label>
                </div><br>
                <div></div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">התחבר</button>

            </div>
        </div>

    </form>







</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
@section Css
    {
    <link rel="stylesheet" href="signIn.css">
    @*<link rel="stylesheet" href="navbar.css">*@

}
