@model FusionWeb.Models.Client

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="container">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-50">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="הזן/י שם " type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="הזן/י אימייל" type="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="הזן/י כתובת" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" placeholder="הזן/י עיר" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="הזן/י טלפון" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group w-50">
                <input type="submit" class="btn btn-primary" style="border-radius: .25rem;"
                       value="שלח" data-bs-toggle="modal" data-bs-target="#exampleModal" />
            </div>
        </form>

    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
